  #outer
  {
  width:1200px;
  height:1200px;
  border:1px solid black;
  margin:0px auto;
  }
  #header
        {
        width:1200px;
        height:150px;

        }
        #logo
        {
         width:250px;
        height:150px;
        background-color:cyan;
        float:left;
        }
        #banner
        {
        width:950px;
        height:150px;
        background-color:teal;
        float:right;
        color:white;
        font-size:60px;
        text-align:center;
        line-height:150px;
        }
        #menu
        {
        width:1200px;
        height:50px;
        background-color:white;
        margin-top:5px;
        border:1px solid white;
        //display:inline;
        }
        #menu ul
        {
        list-style-type:none;

        }
        #menu ul li
        {
       display:inline;


        }
        #menu ul li a{
        font-size:25px;
        padding:15px;
        text-decoration:none;
        color:black;
        }
        #menu ul li a:hover
        {
        color:red;
        }
        #slider
        {
        width:1200px;
        height:250px;
        background-color:pink;
        }
        #parent
        {

        width:1200px;
        margin-top:5px;
        background-color:green;
        border:1px solid black;

        }
        #left
        {
        width:400px;
        height:600px;
        background-color:pink;
        float:left;
       // border:1px solid black;
        }
        #main
        {
        width:800px;
        height:600px;
        background-color:green;
        float:right;
        }
        #footer
         {
        width:1200px;
        height:130px;
        margin-top:5px;
        border:1px solid;
                }
         #lfooter
         {
         width:600px;
         height:130px;
         background-color:black;
         color:white;
         text-align:center;
         float:left;
         font-size:30px;
         line-height:130px;
         }
         #rfooter
         {
         width:600px;
         height:130px;
         background-color:navy;
         float:right;
         font-size:30px;
         line-height:130px;
         color:white;
         text-align:center;
         line-height:130px;

         }


